*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 450px){
    .contenedor{
        max-width: 100%;
        height: auto;
        text-align: center;
    }
    
    .imagen{
        max-width: 100%;
        height: auto;
    }
}

.contenedor{
    max-width: 100%;
    height: auto;
    text-align: center;
}

.imagen{
    max-width: 100%;
    height: auto;
}

.contenedor-flex{
    display: flex;
    justify-content: center;/*Justificado horizontal*/
    align-items: center;/*Justificado vertical*/
    height: 200px;
    background-color: #FFF;
}

.elemento{
    width: 200px;
    height: auto;
    background-color: #fefefe;
    text-align: center;
    align-items: center;/*Justificado vertical*/
    place-items: center;
    line-height: 15px;
    margin: 10px;
}


.contenedor-grid{
    display: grid;
    place-items: center;
    background-color: #e9acd0;
}

.countdown{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap;
}

.contador{
    text-align: center;
    margin: 1em;
}

.final-sms{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    transform: translateY(-100%);
    transition: ease-in-out 0.5s;
    background-color: #d2de99;
}

.itinerario-grid{
    display: grid;
    place-items: center;
}

.itinerario-item{
    width: 30%;
    height: auto;
}

.sugerencias{
    margin: 2em;
    padding: 2em;
    background-color: #4fe8ff;
}

.sugerencias h3{
    margin: 1em;
    padding: auto;
}

.regalos{
    margin: 2em;
    padding: 2em;
    background-color: #e9acd0;
}

.regalos h3{
    margin: 1em;
    padding: auto;
}